
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    height: ;
    width: 1440px;
    
}

*{
    color: rgb(13, 19, 33);
}
.name,.download{
    font-size:28px ;
    margin: 35px ;
    margin-left: 150px;
}
.download{
   
    font-size: 20px;
    border: none;
    height: 40px;
    width: 190px;
    border: 2px solid red;
    border-radius: 10px;
}
 nav{
    display: flex;
    justify-content: space-between;
 }
 .banner{
    background-image: url('../assets/Hero-bg.png');
    height: 650px;
    width: 1440px;
  
 }
 .profile{
    background-image: url('../assets/Group.png');
    height: 220px;
    width: 220px;
    margin: 0 auto;
 }
 .banner-contant{
    width: 80%;
    height: 580px;
    margin-top: 2%;
    margin-left: 10%;
 }
 .btn-contant{
  height: 45px;
  width: 175px;
  font-size: 15px;
  font-family: Azeret Mono;
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  margin-left: 40%;
  margin-bottom: 0px;

    
 }
 .text-contant{
    height: 280px;
    width: 1000px;
   
    margin-top: 20px;
    margin-left: 7%;
 }
 
 .headline{
    margin-top: 0px;
    line-height: 65px;
    font-size: 35px;
    font-family: Azeret Mono;
    text-align: center;
    
 }
 .text-contant-2{
    font-size: 18px;
    margin: 0 70px 0 70px;
    color:rgb(86, 90, 99);
    text-align: center;
 }
 .main-contant{
    height: 1450px;
    width: 1240px;
    border: 3px solid cornflowerblue;
    margin: 0 auto;
    margin-top: 60px;
    background-color: rgba(13, 19, 33, 0.02);
 }
.container{
    height: 1300px;
    width: 1080px;
    border: 2px solid darkorange;
    margin: 0 auto;
    margin-top: 70px ;
}
.text-web{
    height: 120px;
    width: 800px;
    border: 3px solid yellowgreen;
    margin: 0 auto;
    
    text-align: center;
    font-family: Azeret Mono;
}
.title{
    margin-top: 0px;
    font-size: 35px;
    color: rgb(13, 19, 33);
}
.pera{
    line-height: 25px;
    color: rgb(130, 134, 142);
}
.parent-1{
   height: 300px;
   width: 900px;
   border: 3px solid forestgreen;
   margin-top: 50px; 
   margin-left: 80px;
   background-color: rgb(252, 252, 253);
   display: flex;
   justify-content: space-between;
  
   
   
}
.div-1{
    width: 500px;
    height: 250px;
    border: 3px solid indigo;
    margin-left: 10px;
   
}
.layer{
    font-family: Azeret Mono;
    font-size: 25px;
    text-align: center;
}
.layer-p{
    color: rgb(13, 19, 33);
    font-size: 18px; 
    text-align: center;
}
.learn{
    height: 40px;
    width: 130px;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 30px;
    background-color: white;
   
}   

.div-2{
    height: 215px;
    width: 260px;
    border: 3px solid gold;
}